*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: flex;
  gap: 30px;
  width: 1140px;
  height: 534px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  height: 298px;
  width: 399px;
  padding-right: 3px;
  padding-bottom: 3px;
}

.content__list-item {
  margin: 2px 0 4px 2px;
}

.content__details {
  height: 100%;
  width: 100%;
}

.result {
  padding-top: 78px;
}

.result__video-container {
  position: relative;
  height: 386px;
  width: 711px;
  margin-bottom: 18px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: bottom right;
  height: 103px;
  min-width: 194px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", "Arial";
  font-weight: 400;
  font-style: "Regular";
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  margin-bottom: 7px;
}

.title {
  font-family: "Oswald", "Arial";
  font-weight: 700;
  font-style: "Bold";
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  padding-left: 3px;
  padding-right: 3px;
  outline: 1px solid #fff;
}

.content__video-card-title {
  padding-bottom: 2px;
  font-family: "Oswald", "Arial";
  font-weight: 700;
  font-style: "Bold";
  font-size: 30px;
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: 0%;
  max-width: 192px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "Fira Sans Condensed", "Arial";
  font-weight: 400;
  font-style: "Regular";
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0%;
  margin-top: 2px;
  margin-bottom: 2px;
  max-width: 196px;
  word-wrap: break-word;
  padding-bottom: 2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", "Arial";
  font-style: "Normal";
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
  background-color: transparent;
  width: 225px;
  height: 27px;
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
  appearance: none;
  text-decoration: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline-offset: 1px;
  outline: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + ::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button {
  font-family: "Fira Sans Condensed", "Arial";
  font-weight: 700;
  font-style: bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  margin: 1px;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: flex-end;
  height: 34px;
  width: 194px;
}

.more-button {
  min-height: 34px;
  width: 100%;
  margin-left: 2px;
  margin-top: 25px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}
